.bgsvg {
    position: absolute;
    z-index: -1;
    height: auto;
    width: 100%;
}

.wave {
    position: absolute;
    z-index: -2;
}

.navbar{
    background-color: transparent !important;
    padding-top: 20px;
}